---
layout: base.njk
---

<article class="page-content">
    {% if featuredImage %}
        <div class="page-featured-image">
            <img src="{{ featuredImage }}" alt="{{ featuredImageAlt or title }}" class="featured-image">
            {% if featuredImageCaption %}
                <figcaption class="featured-image-caption">{{ featuredImageCaption }}</figcaption>
            {% endif %}
        </div>
    {% endif %}
    
    <div class="page-body">
        {{ content | safe }}
    </div>
    
    {% if showLastModified and page.date %}
        <div class="page-meta">
            <p class="last-modified">
                <small>Last updated: <time datetime="{{ page.date | date('YYYY-MM-DD') }}">{{ page.date | dateDisplay }}</time></small>
            </p>
        </div>
    {% endif %}
    
    {% if relatedPages %}
        <aside class="related-pages">
            <h2>Related Pages</h2>
            <ul class="related-pages-list">
                {% for relatedPage in relatedPages %}
                    {% set pageData = collections.pages | find('data.slug', relatedPage) or collections.pages | find('fileSlug', relatedPage) %}
                    {% if pageData %}
                        <li class="related-page-item">
                            <a href="{{ pageData.url }}" class="related-page-link">
                                <h3 class="related-page-title">{{ pageData.data.title }}</h3>
                                {% if pageData.data.description %}
                                    <p class="related-page-description">{{ pageData.data.description }}</p>
                                {% endif %}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </aside>
    {% endif %}
    
    {% if showTableOfContents %}
        <aside class="table-of-contents">
            <h2>Table of Contents</h2>
            <div id="toc-container">
                <!-- Table of contents will be generated by JavaScript -->
            </div>
        </aside>
    {% endif %}
</article>

{% if customPageJS %}
    <script>
        {{ customPageJS | safe }}
    </script>
{% endif %}
